.pagination {
  display: flex;

  justify-content: center;

  flex-wrap: wrap;

  gap: 12px;

  margin-top: 80px;
}

.pagination button {
  width: 45px;
  height: 45px;

  border: none;

  border-radius: 12px;

  background: #1b1b1b;

  color: white;

  cursor: pointer;

  transition: 0.3s;

  font-size: 15px;
}

.pagination button:hover {
  background: var(--primary-color);

  transform: translateY(-3px);
}

.pagination button.active {
  background: var(--primary-color);

  box-shadow: 0 0 20px rgba(255, 140, 0, 0.5);

  font-weight: bold;
}
