.linksContainer li a,
.linksContainer li button,
.linksContainer li {
  text-decoration: none;
  font-size: 18px;
  transition: 0.2s;
  border-bottom: 2px solid transparent;
  letter-spacing: 1px;
}

.linksContainer li a:hover,
.linksContainer li button:hover {
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
}
