.banner {
  margin: 0;
  text-align: center;
  font-size: 180px;
  letter-spacing: 30px;
  background: linear-gradient(to bottom, white, black 85%) no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.5;
  position: absolute;
  bottom: -100px;
}

@media (max-width: 767px) {
  .banner {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
.banner{
  font-size: 100px;
  letter-spacing: 20px;
}
}