@font-face {
  font-family: myRubik;
  src: url(./assets/fonts/Rubik-Regular.ttf);
  font-display: swap;
}

* {
  color: white;
  box-sizing: border-box;
  font-family: myRubik;
}

:root {
  --primary-color: #fa9021;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
}

.container {
  padding: 0 70px;
}

.mt {
  margin-top: 100px;
}

.primaryBtn {
  cursor: pointer;
  text-decoration: none;
  border: none;
  background-color: var(--primary-color);
  padding: 12px 27px;
  border-radius: 6px;
  transition: 0.2s;
  display: inline-block;
  text-align: center;
}

.primaryBtn:hover {
  color: white !important;
  box-shadow: 0px 0px 15px 5px var(--primary-color);
  transform: rotate(2deg);
}

.primaryBtn:active {
  transform: rotate(-2deg);
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }

  .hidden {
    opacity: 1;
    pointer-events: all;
  }
}
